* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body {
  background-color: rgb(20,20,20);
  height: 100vh;
}

body {
  background-image: url('/all.jpg');
  background-size: 33vw;
  background-repeat: repeat-x;
}

.Header {
  background-color: #6441a5;
  box-shadow: 0px 0px 15px 10px rgba(0,0,0,.5);
  color: white;
  text-align: center;
  margin: 0 0 1em 0;
  top: 0;
  right: 0;
  left: 0;
}

.Table {
background-color: white;
margin: 5px auto;
border-radius: 10px;
width: 50vw;
padding: 1em 1em 5em 1em;
min-width: 600px;
box-shadow: 5px 5px 5px 5px rgba(0,0,0,1),
-5px -5px 5px 5px rgba(0,0,0,0.5);
}

.Employee {
  border: 3px solid rgba(255,255,255,0.8);
  background-color: rgba(240, 240, 255, 0.8) ;
  margin: 2px 2px 4px 2px;
  padding: .5em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
  inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
  -1px -1px 1px 1px rgba(255, 255, 255, 0.6),
  inset -1px -1px 1px 1px rgba(255, 255, 255, 0.6);
}

.namePlate, .Org {
  display: inline;
}

.Org {
  color: rgb(32,32,32);
}

.optionsDiv {
  position: fixed;
  background-color: #6441a5;
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  margin: 0 auto;
  padding: 0px 0px 5px 0px;
  text-align: center;
  font-weight: bold;
  color: white;
  bottom: 0;
  left: calc((100vh - 300px)/2);
  right: calc((100vh - 300px)/2);
}

.optionsForm {
  transition: height 500ms;
  height: 300px;
}

.optionsForm hr {
  width: 90%;
  margin: 4px auto;
  opacity: .6;
}

.collapsed {
  overflow: hidden;
  height: 0;
}